.fondogris {background-color:#fff;}
.postEnlace a {text-decoration:none;color:#bbb;}
#footer {margin:10px 4px 0px 4px;}
#footer div {float:left;}
.grisSinDecoration {text-decoration:none;color:#bbb;}
